.react-autocomplete-input-container{
    position: relative;
}
.react-autocomplete-input {
    left: .7rem !important;
    top: 1.3rem !important;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #e2e8f0;
    bottom: auto;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    border-radius: .25rem;
    display: block;
    list-style: none;
    padding: 1px;
    position: absolute;
    text-align: left;
    z-index: 20000;
    min-width: 10rem;
}

.react-autocomplete-input > li {
    cursor: pointer;
    padding: 5px;
}

.react-autocomplete-input > li.active {
    background: #eee;
}

.dropdown-content{
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    z-index: 1;
    border-radius: .25rem;
    list-style: none;
    border: 1px solid #e2e8f0;
    color: #4a5568;
}

.dropdown-content > li{
    padding: 5px 10px;
}

.dropdown-content > li:hover{
    background: #eee;
    cursor: pointer;
}

.form-check-label{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: .1rem;
}
.form-check-label span{
    margin-left: .3rem;
}